ai.onnx;1;Not
ai.onnx;7;And
ai.onnx;11;Conv{"inputs": {"0": ["float"]}},ConvTranspose
ai.onnx;13;ArgMax{"inputs": {"0": ["float"]}},Cast{"inputs": {"0": ["bool", "int64_t"]}, "outputs": {"0": ["bool", "float", "int64_t"]}},Concat{"inputs": {"0": ["float"]}},Equal{"inputs": {"0": ["int64_t"]}},GatherElements{"inputs": {"0": ["float"], "1": ["int64_t"]}},Mod,Sign{"inputs": {"0": ["int64_t"]}},Squeeze,Unsqueeze
ai.onnx;14;Div{"inputs": {"0": ["int64_t"]}},Mul{"inputs": {"0": ["float"]}},Relu{"inputs": {"0": ["float"]}},Reshape,Sub{"inputs": {"0": ["int64_t"]}}
com.microsoft;1;FusedConv
